<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛등산 :: 완등하는 사이트</title>
</head>
<body>
    <h2>완등 페이지</h2>
    <form method="POST" action="{% url 'completeClimbing' %}">
        {% csrf_token %}
        <p>팔공산</p>
        <input type="hidden" name="MT_name" value="팔공산">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="submit" value="완등">
    </form>
    
</body>
</html>