<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛동산 후기글 읽기</title>
</head>
<body>
    <a href="{% url 'index' %}">메인 화면으로 가기</a>
    <br><br>

    {% if user.is_authenticated %}
        <form action="{% url 'searchPost' %}" method="GET" autocomplete="on">
            <fieldset>
                <legend>게시글 검색</legend>
                <input type="search" name="search" width="10">
                <input type="submit" value="검색하기">
            </fieldset>
        </form>

        <h2>전체 후기글</h2>
        
        {% for post in posts %}
            <fieldset>
                <legend><strong>{{ post.title }}</strong></legend>
                {% if post.username == user.username %}
                    <a href="#">수정</a>
                    <a href="{% url 'deletePost' post.id %}">삭제</a>
                {% endif %}
                <p>작성자: {{ post.username }}</p>
                <img src="{{ post.image.url }}" alt="후기 사진">
                <p>{{ post.content }}</p>
            </fieldset>
        {% endfor %}            
        

    {% else %}
        <h3>로그인을 하지 않고 들어오셨군요!<br>
        먼저 로그인을 하고 시도해주세요!</h3>
    {% endif %}

    
    
</body>
</html>