<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        아이디: {{ user.username }}<br>
        이메일: {{ user.email }}<br>
        성별: {{ user.profile.gender }}<br>
        완등 횟수: {{ user.profile.complete_count }}<br>
        등급: {{ user.profile.grade }}<br>
    </p>
    <form method="POST" action="{% url 'accounts:myCompletedMT' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ user.id }}" name="user_id">
        <input type="submit" value="완등한 산 보기">
    </form>
    
</body>
</html>